/* @import "~antd/dist/antd.css"; */
.menuBar {
    padding: 0 20px;
    border-bottom: solid 1px #e8e8e8;
    overflow: auto;
    box-shadow: 0 0 30px #f3f1f1;
    
}

.logo {
    width: 150px;
    float:left;
}

.logo a {
    /* display: inline-block; */
    font-size: 20px;
    padding: 19px 20px;
    text-transform: capitalize;
}

.menuCon {
    /* width: calc(100% - 150px); */
    
    float:inline-end;
    justify-content:space-between;
}

.menuCon .ant-menu-item {
    padding: 0px 5px;
}

.menuCon .ant-menu-submenu-title {
    padding: 10px 20px;
}

.menuCon .ant-menu-item a,
.menuCon .ant-menu-submenu-title a {
    padding: 10px 15px;
}

.menuCon .ant-menu-horizontal {
    border-bottom: none;
}

.menuCon .leftMenu {
    float: right;
}

.menuCon .rightMenu {
    float: right;
}

.barsMenu {
    float: right;
    height: 32px;
    padding: 6px;
    margin-top: 8px;
    display: none;
    background: none;
}

.barsBtn {
    display: block;
    width: 20px;
    height: 2px;
    background: #1890ff;
    position: relative;
}

.barsBtn:after,
.barsBtn:before {
    content: attr(x);
    width: 20px;
    position: absolute;
    top: -6px;
    left: 0;
    height: 2px;
    background: #1890ff;
}

.barsBtn:after {
    top: auto;
    bottom: -6px;
}

.ant-drawer-body {
    padding: 0;
}

.barsMenu>span {
    display: block;
}

.ant-drawer-body .ant-menu-horizontal>.ant-menu-item,
.ant-drawer-body .ant-menu-horizontal>.ant-menu-submenu {
    display: inline-block;
    width: 100%;
}

.ant-drawer-body .ant-menu-horizontal {
    border-bottom: none;
}

.ant-drawer-body .ant-menu-horizontal>.ant-menu-item:hover {
    border-bottom-color: transparent;
}
.guide{
    display:  none;
}
.nondrawer{
    display: none;
}
a{
    font-weight: bold;
}
span{
    font-weight: bold;
}
@media (max-width: 767px) {
    .menuBar {
        align-items: center;
    }
    .guide{
        max-width: 5px;
        display:none;
    }
    .drawer{
        display: none;;
    }
    .nondrawer{
        display: block;
    }
    .barsMenu {
        padding: 0%;
        display: inline-block;
        /* justify-content: flex-start; */
    }
    .leftMenu,
    .rightMenu {
        display: none;
    }
    .logo a {
        margin-left: -20px;
    }

    .menuCon .ant-menu-item,
    .menuCon .ant-menu-submenu-title {
        padding: 1px 20px;
    }

    .logo a {
        padding: 10px 20px;
    }
}

/* head css */

.header  {
    width: 100%;
    /* max-width: 400px; */
    height: auto;
}


.header {
    display: block;
}

.thumbnail {
    position: relative;
    display: inline-block;
    
}

.caption {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px pink;
    opacity: 150%;
    box-shadow:azure;
}
@media screen and (min-width: 1200px) {
    .caption h1 {
        font-size: 80px;
    }
    .caption h2 {
        font-size: 30px;
    }
}
@media screen and (max-width: 787px) {
    .caption h1 {
        font-size: 20px;
    }
    .caption h2 {
        font-size: 10px ;
    }

}
.headingbutton {
    color : #b4b4b4 !important;
}
.headingbutton :hover{
    color: #01b46c;
}
.paddingtopbottom{
    padding: 0.5%;
}

